
<div class="flex-container">
    <% @events.each do |event| %>
        <div class="block-container">
            <h2><%= link_to event.title, event_path(event) %></h2>
            <h4><%= event.event_date.strftime("%A %-d %B %Y") %></h4>
        </div>
    <% end %>
</div>

     

