<div class="row">
    <div class="col-12">
        <h1>Reviews</h1>
    </div>
</div>


<div class="row">
    <% @reviews.each do |review| %>
        <div class="col-4">    
        <h4>"<%= link_to review.title, review_path(review) %>"</h4>
        <p><%= link_to review.event.title, review_path(review) %></p>
        </div>
    <% end %>
</div>
