<div class="row">
<div class="col-12">
    <h1><%= @venue.name %></h1>
    <p><%= @venue.address %></p>
</div>
</div>

<div class="flex-container">
    <div>
    <h4>Upcoming Events at this venue</h4>
    </div>

    <div>
    <% @venue.events.each do |event|  %>
    <p>  <%= link_to event.title, event_path(event) %> </p>
    <% end %>
    </div>
</div>

<hr>
<div class="flex-container">

    <div>
    <h4>Previous events at this venue</h4>
    </div>
</div>