<h1><%= @venue.name %></h1>
<p>address: <%= @venue.address %></p>

<h4>Upcoming Events at this venue</h4>
<ul>
<% @venue.events.each do |event|  %>
<li><%= link_to event.title, event_path(event) %></li>
<% end %>
</ul>


<h4>Previous events at this venue</h4>

